* {
  box-sizing: border-box;
}

body {
  background-color: rgb(226, 226, 226);
  font-family: sans-serif;
  margin: 0;
}

.container {
  max-width: 900px;
  margin: 20px auto;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
}

.team {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 0.7rem;
  min-width: 200px;
  position: relative;
  background-color: rgb(4, 20, 70);
  color: white;
  box-shadow: 3px 5px 5px rgb(0, 0, 0);
}

.search {
  margin-left: 1rem;
  padding: 0.5rem;
}
